{% extends 'pages/base.html' %}
{% load static %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   

    {% if page %}
    
    <img src="{{ page.book_photho.url }}" width="1348px;" height="500px;"><br>
    <div class="conatiner text-center">
    <h5>{{ page.book_title }} | {{ page.date_posted }} </h5><br>
       <h4><b> {{ page.book_summary }}</b></h4>
    </div>
        <div class="container">
            <div class="book-detail">
                <p>{{page.content_details}}</p>
            </div>
       
        
        {{ page.id }}
    {% endif %}
</div>
    {% endblock %}
   
</body>

</html>


