{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Gospel News</title>

  <script src="{% static 'style/js/jquery-3.3.1.min.js' %}"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="static/style/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'style/css/bootstrap-grid.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>
    <body>
        <section id="nav-bar">
            <nav class="navbar navbar-expand-lg navbar-light ">
              <a class="navbar-brand" href="">{% load static %}
                <img src="{% static 'images/carental.png' %}" title="Carental Logo"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="">Home </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Sites</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Cars</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">Contact</a>
                  </li>
                </ul>
                <ul class="navbar-nav navbar-right">
        
                  <form class="form-inline my-2 my-lg-0">
                    <button type="submit" class="btn btn-light btn-block" id="btnsignin">
                      <a href=""> DONATE </a>
                    </button>
                  </form>
                  <!-- <form class="form-inline my-2 my-lg-2">
                    <button type="submit" class="btn btn-block" id="btnsignup">
                      <a href=""> Sign Up </a>
                    </button>
                  </form> -->
                </ul>
        
              </div>
            </nav>
          </section>
        
        
         </body>

</html>